.container {
    width: 90vw;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.movie-poster {
    width: 100%;
}

nav {
    height: 10vh;
    background-color: rgba(41, 63, 88, 0.527);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
}

nav img {
    align-self: flex-start;
}

.logo {
    width: 90px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    padding: 10px;
    border: none;
    outline: none;
    height: 2rem;
}

.search {
    padding: 10px;
    border: none;
    outline: none;
    height: 2rem;
    width: 2rem;
}

.previewna {
    width: 100%;
    height: 88%;
    padding: 20px;
    background-color: #252e3f;
}

.center {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    min-height: 60vh;
    background-size: cover;
    position: relative;
}

.outer-div {
    position: relative;
}

.hero-wrapper {
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: 1px;
    z-index: 4;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hero > div > iframe {
    position: absolute;
    z-index: 5;
}

.hero-content {
    background-color: #252e3f7a;
    width: 100%;
    height: 100%;
}

.button {
    padding: 10px 15px;
    border: 1px solid white;
    outline: none;
    background-color: #1a263f;
    color: white;
}

.button--close {
    position: absolute;
    z-index: 10;
    left: 50px;
    bottom: 50px;
}

.unavailable {
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    background-color: #1a263f;
    top: 5vh;
    height: 40vh;
    padding: 5rem 5rem;
    z-index: 6;
}

@media screen and (max-width: 1024px) {
    .hero {
        min-height: 50vh;
    }

    .hero > div > iframe {
      height: 50.1vh;
    }

    .hero-wrapper {
        height: fit-content;
    }

    .button--close {
        position: absolute;
        z-index: 99;
        left: 45vw;
        bottom: -45px;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        min-height: 35vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
    }

    .hero > div > iframe {
      height: 35.2vh;
        position: absolute;
        z-index: 5;
    }

    .hero-wrapper {
        position: absolute;
        bottom: 0;
        height: fit-content;
        font-size: 0.5rem;
        z-index: 4;
    }

    .button--close {
        position: absolute;
        z-index: 99;
        left: 50px;
        bottom: -45px;
    }

    .container {
        width: 85%;
    }

    .logo {
        width: 45px;
    }
    .input {
        width: 10rem;
    }

    nav {
        height: 8vh;
    }
    .unavailable {
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        color: red;
        background-color: #1a263f;
        padding: 4rem 4rem;
        z-index: 5;
    }
}
